body{
  margin: 0;
}

/* navigation */
.navigation{
  width: 20%;
  color:white;
  float: left;
}

.title{
  padding: 15px;
  padding-bottom: 50px;
}

.navlist {
  height: 100vh;
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  background-color: dodgerblue;
}

.navicon {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
}

.navicon:hover{
  background-color: white;
  color: dodgerblue;
  border-radius: 50px;
}

img{
  padding-right: 20px;
}

/* main section */
.main{
  display: grid;
}

/* header */
.topbar{
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.menubar{
  cursor: pointer;
}

input{
  width: 30%;
  height: 30px;
  border-radius: 50px;
  border: 1px solid darkgray;
  padding: 5px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png");
  background-size: contain;
  background-position: 3px center;
  background-repeat: no-repeat;
  text-indent: 30px;
}

input:focus{
  background-image: none;
  background-position: -10px center;
  text-indent: 0;
}

/* cardbox */
.cardbox{
  display: flex;
  grid-column: 1;
  grid-row: 2;
}

.card{
  width: 22%;
  height: 70%;
  margin: 20px;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  cursor: pointer;
}

.card:hover{
  background-color: dodgerblue;
}

.card:hover .card_value, .card:hover .card_title{
  color: white;
}

.card_wrap{
  display: flex;
  padding: 10px;
}

.card_wrap > img{
  padding: 30px;
}

.card_value{
  color: dodgerblue;
  font-size: 40px;
}

.card_title{
  color: darkgray;
}

/* details */
.details{
  margin: 20px;
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-content: space-between;
  height: 110%;
}

/* orders */
.orders{
  width: 65%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.orders_container{
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.orders_title{
  color: dodgerblue;
  padding: 5px;
}

button{
  width: 15%;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: dodgerblue;
  color: white;
  font-size: 16px;
  margin: 20px;
}

.orders_table_title{
  display: flex;
  justify-content: space-evenly;
}

.orders_table_content{
  display: flex;
  justify-content: space-evenly;
  padding-left: 10px;
  border-bottom: 0.5px solid darkgray;
  list-style: none;
}

.orders_table_content > li{
  padding: 0px;
  padding-left: 50px;
}

.orders_table_content:hover{
  background-color: dodgerblue;
  color: white;
}

/* customers */
.customers{
  width: 30%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.customers_title{
  display: inline-block;
  color: dodgerblue;
}

.customers_profile{
  width: 100%;

}

.customers_wrap{
}

.customers_info{
  padding-left: 10px;
}

.customers_info:hover{
  background-color: dodgerblue;
  color: white;
}

.customers_name{
  font-size: 18px;
  font-weight: bold;
}

.customers_country{
  color: darkgray;
  font-weight: bold;
  padding-bottom: 20px;
}