html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
  margin: 0;
}

.container{
  margin: 0;
  width: 100vw;
}

/* navigation */
.navigation{
  width: 300px;
  color:white;
  float: left;
  transition: all 0.5s;
}

.navigation.on{
  width: 60px;
  transition: all 0.5s;
}

.title{
  padding: 15px;
  padding-bottom: 50px;
  display: flex;
}

.titlecontent.none{
  display: none;
}

.menubaricon input[type=checkbox]{
  display: none;
  cursor: pointer;
}

.menubaricon{
  display: none;
}

label{
  cursor: pointer;
}

.navlist {
  height: 100vh;
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  background-color: dodgerblue;
  cursor: pointer;
}

.navicon {
  width: 100%;
  padding: 20px 0;
}

.navicon:hover{
  background-color: white;
  color: dodgerblue;
  border-radius: 50px;
}

.navicon > img{
  padding-left: 10px;
}

img{
  padding-right: 20px;
}

.navicontent.none{
  display: none;
  transition: all 0.5s;
}

/* main section */
.main{
  display: grid;
  width: auto;
}

/* header */
.topbar{
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.menubar{
  cursor: pointer;
}

.menubar input[type=checkbox]{
  display: none;
  cursor: pointer;
}

.menubar input[type=checkbox]:checked .main{
  width: 100%;
}

input{
  width: 30%;
  height: 30px;
  border-radius: 50px;
  border: 1px solid darkgray;
  padding: 5px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png");
  background-size: contain;
  background-position: 3px center;
  background-repeat: no-repeat;
  text-indent: 30px;
}

input:focus{
  background-image: none;
  background-position: -10px center;
  text-indent: 0;
}

.profile{
  cursor: pointer;
}

/* cardbox */
.cardbox{
  display: flex;
  grid-column: 1;
  grid-row: 2;  
}

.card{
  width: 22%;
  height: 150px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  cursor: pointer;
}

.card:hover{
  background-color: dodgerblue;
}

.card:hover .card_value, .card:hover .card_title{
  color: white;
}

.card_wrap{
  display: flex;
  padding: 10px;
}

.card_wrap > img{
  padding: 30px;
}

.card_value{
  color: dodgerblue;
  font-size: 40px;
}

.card_title{
  color: darkgray;
}

/* details */
.details{
  margin: 20px;
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-content: space-between;
  /* height: 110%; */
}

/* orders */
.orders{
  width: 65%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  font-size: 1em;
}

.orders_container{
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.orders_title{
  color: dodgerblue;
  padding: 5px;
}

button{
  width: 15%;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: dodgerblue;
  color: white;
  font-size: 16px;
  margin: 20px;
}

.orders_table_title{
  display: flex;
  justify-content: space-evenly;
}

.orders_table_content{
  display: flex;
  justify-content: space-evenly;
  padding-left: 10px;
  border-bottom: 0.5px solid darkgray;
  list-style: none;
  cursor: pointer;
}

.orders_table_content > li{
  padding: 0px;
  padding: 0px 20px;
}

.orders_table_content:hover{
  background-color: dodgerblue;
  color: white;
}

.orders_status{
  display: inline-block;
  color: white;
  border-radius: 5px;
  text-align: center;
}

/* customers */
.customers{
  width: 30%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.customers_title{
  display: inline-block;
  color: dodgerblue;
}

.customers_profile{
  width: 100%;
}

.customers_wrap{
}

.profile:hover{
  background-color: dodgerblue;
  color: white;
}

.customers_info{
  display: inline-block;
  padding-left: 10px;
  cursor: pointer;
}

.customers_info:hover{

}

.customers_name{
  font-size: 18px;
  font-weight: bold;
}

.customers_country{
  color: darkgray;
  font-weight: bold;
  padding-bottom: 20px;
}

@media (max-width: 1024px){
  /* .navlist{
    display: none;
  } */

  .navigation{
    display: none;
  }

  .navigation.on{
    display: unset;
    width: 30%;
    transition: all 0.5s;
  }

  .titlecontent.none{
    display: unset;
  }

  .navicontent.none{
    display: unset;
    transition: all 0.5s;
  }

  .cardbox{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
  }

  .card{
    min-height: 150px;
    flex-basis: 30%;
    flex-shrink: 1;
    flex-grow: 1;
  }
  
  .details{
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
  }

  /* orders */
  .orders{
    width: 60vw;
  }

  /* customers */
  .customers{
    width: 30vw;
  }
}

@media (max-width: 768px){
  .navigation{
    visibility: hidden;
  }

  .navigation.on{
    visibility: visible;
    width: 100%;
    transition: all 0.5s;
  }

  .menubaricon{
    padding-left: 60%;
    display: unset;
  }

  .main{
    display: flex;
    flex-direction: column;
  }
  input{
    width: 60%;
  }
  .cardbox{
    flex-direction: column;
    padding: 0;
  }
  .card{
    width: 90%;
    height: 15%;
  }
  /* details */
  .details{
    width: 100%;
    padding: 0;
    display: block;
  }

  /* orders */
  .orders{
    width: 90vw;
    margin: 0 auto;
  }

  .orders_table_content{
    font-size: 14px;
  }

  .orders_wrap{
    overflow: scroll;
  }

  button{
    font-size: 12px;
  }

  /* customers */
  .customers{
    width: 90vw;
    margin: 0 auto;
  }
}
