/* details */
.details{
  margin: 20px;
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-content: space-between;
  /* height: 110%; */
}

/* orders */
.orders{
  width: 65%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  font-size: 1em;
}

.orders_container{
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.orders_title{
  color: dodgerblue;
  padding: 5px;
}

button{
  width: 15%;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: dodgerblue;
  color: white;
  font-size: 16px;
  margin: 20px;
}

.orders_table_title{
  display: flex;
  justify-content: space-evenly;
}

.orders_table_content{
  display: flex;
  justify-content: space-evenly;
  padding-left: 10px;
  border-bottom: 0.5px solid darkgray;
  list-style: none;
  cursor: pointer;
}

.orders_table_content > li{
  padding: 0px;
  padding: 0px 20px;
}

.orders_table_content:hover{
  background-color: dodgerblue;
  color: white;
}

.orders_status{
  display: inline-block;
  color: white;
  border-radius: 5px;
  text-align: center;
}

/* customers */
.customers{
  width: 30%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.customers_title{
  display: inline-block;
  color: dodgerblue;
}

.customers_profile{
  width: 100%;
}

.customers_wrap{
}

.profile:hover{
  background-color: dodgerblue;
  color: white;
}

.customers_info{
  display: inline-block;
  padding-left: 10px;
  cursor: pointer;
}
.profile > img{
  width: 30px;
  height: 30px;
}

.customers_name{
  font-size: 18px;
  font-weight: bold;
}

.customers_country{
  color: darkgray;
  font-weight: bold;
  padding-bottom: 20px;
}


@media (max-width: 1024px){
  .details{
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
  }

  /* orders */
  .orders{
    width: 60vw;
  }

  /* customers */
  .customers{
    width: 30vw;
  }
}


@media (max-width: 768px){
  /* details */
  .details{
    width: 100%;
    padding: 0;
    display: block;
  }

  /* orders */
  .orders{
    width: 90vw;
    margin: 0 auto;
  }

  .orders_table_content{
    font-size: 14px;
  }

  .orders_wrap{
    overflow: scroll;
  }

  button{
    font-size: 12px;
  }

  /* customers */
  .customers{
    width: 90vw;
    margin: 0 auto;
  }
}