:root{
  /* Color */
  --color-home: #ff0000;
  --color-profile: #0000ff;
  --color-message: #00ff00;
  --color-help: #33ccff;
  --color-settings: #ff9900;
  --color-white: #ffffff;
}

body{
  background-color: pink;
}

.container{
  display: flex;
  position: absolute;
  justify-items: flex-start;
}

#pointer{
  position: absolute;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  padding-left: 5px;
  z-index: 0;
  transition: all 0.5s ease-out;
}

.menubar{
  position: absolute;
  display: block;
  list-style: none;
  width: 80px;
  height: 100%;
  border-radius: 50px;
  padding: 10px;
  background-color: var(--color-white);
  z-index: 1;
}

button{
  position: relative;
  padding: 20px;
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  cursor: pointer;
  border-radius: 50px;
}

img{
  /* z-index: 999; */
}

.list{
  position: relative;
  display: block;
  list-style: none;
  padding-left: 10px;
  padding-top: 10px;
}

.content{
  position: relative;
  visibility: hidden;
  max-width: calc(100% - 20px);
  border-radius: 4px;
  background-color: var(--color-white);
  line-height: 1;
  color: #000000;
  padding: 15px;
  margin-left: 100px;
  margin-bottom: 40px;
  z-index: 999;
}

.content.selected{
  visibility: visible;
}