:root{
  /* Color */
  --color-home: #ff0000;
  --color-profile: #0000ff;
  --color-message: #00ff00;
  --color-help: #33ccff;
  --color-settings: #ff9900;
  --color-white: #ffffff;
}

body{
  background-color: pink;
}

#pointer{
  /* visibility: hidden; */
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  z-index: 0;
  transition: all 0.5s ease-out;
}

.menubar{
  list-style: none;
  width: 80px;
  height: 100%;
  border-radius: 50px;
  margin: 0 auto;
  padding: 10px 10px;
  background-color: var(--color-white);
  z-index: 1;

}

button{
  padding: 20px;
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  cursor: pointer;
  border-radius: 50px;
  z-index: 999;
}
